#DV1 {
width: 30%; 
background: white; 
overflow-y: scroll;
overflow-x: hidden;
left: 0;
right: 70%;
top: 0;
bottom: 0;
position: fixed;
z-index: 1;
  }
 hr{
width: 80%;
margin-right: 20%;
background: linear-gradient(45deg,red 0%,orange,yellow,green,blue,purple,#FF5CA2 100% ,#3a4ed5 100%);	
height:10px;
}
h3{

color: black; 
font-family:Arial;
	
}
#tabela{
	margin-left:450px;
	
}
#tabela1{
	margin-left:450px;
	
}
#tabela2{
	margin-left:450px;
	
}
#tabela3{
	margin-left:450px;
	
}
#tabela4{
	margin-left:450px;
	
}
#tabela5{
	margin-left:450px;
	
}
.caixa{
width:150px;
height:100px;
margin:10px;
padding:50px;
border-width: 6px;
border-style: dashed;

border-color :pink;
background-image:url(IMG/ceu1.png);

}
.caixa1{
width:80px;
height:130px;
margin:10px;
padding:50px;
border-width: 6px;
border-style: dashed;
border-color :yellow;
background-image:url(IMG/romantismop.png);

}
.caixa2{
width:150px;
height:150px;
margin:10px;
padding:50px;
border-width: 6px;
border-style: dashed;
border-color :yellow;
background-image:url(IMG/sereia1.png);

}

.caixa3{
width:150px;
height:230px;
margin:10px;
padding:50px;
border-width: 6px;
border-style:double;
border-color :RGB(77, 66, 255);
background-image:url(IMG/alice11.png);

}
.caixa4{
width:150px;
height:230px;
margin:10px;
padding:50px;
border-width: 6px;
border-style:double;
border-color :RGB(108, 49, 232);
background-image:url(IMG/alice22.png);

}
.caixa5{
width:150px;
height:230px;
margin:10px;
padding:50px;
border-width: 6px;
border-style:double;
border-color :RGB(174, 54, 255);
background-image:url(IMG/alice33.png);

}

.caixa6{
width:200px;
height:200px;
margin:10px;
padding:50px;
border-width: 16px;
border-style:ridge;
border-color :yellow;
background-image:url(IMG/sol11.png);

}

.caixa7{
width:200px;
height:200px;
margin:10px;
padding:50px;
border-width: 16px;
border-style:ridge;
border-color :RGB(77, 66, 255);
background-image:url(IMG/sol22.png);

}
.caixa8{
width:150px;
height:230px;
margin:10px;
padding:50px;
border-width: 16px;
border-style:ridge;
border-color :RGB(108, 49, 232);
background-image:url(IMG/coraçao2.png);

}
.caixa9{
width:150px;
height:230px;
margin:10px;
padding:50px;
border-width: 16px;
border-style:ridge;
border-color :RGB(174, 54, 255);
background-image:url(IMG/coraçao1.png);

}
.caixa10{
width:505px;
height:220px;
margin:10px;
padding:50px;
border-width: 16px;
border-style:ridge;
border-color :RGB(174, 54, 255);
background-image:url(IMG/EuDenovo22.png);

}
.caixa11{
width:530px;
height:250px;
margin:10px;
padding:50px;
border-width: 16px;
border-style:ridge;
border-color :RGB(174, 54, 255);
background-image:url(IMG/coloridoB1.png);

}

.caixa12{
width:505px;
height:220px;
margin:10px;
padding:50px;
border-width: 6px;
border-style:ridge;
border-color :RGB(174, 54, 255);
background-image:url(IMG/celular12.png);

}
.caixa13{
width:505px;
height:220px;
margin:10px;
padding:50px;
border-width: 6px;
border-style:ridge;
border-color :RGB(174, 54, 255);
background-image:url(IMG/celular2.png);

}
.caixa14{
width:505px;
height:220px;
margin:10px;
padding:50px;
border-width: 6px;
border-style:ridge;
border-color :RGB(174, 54, 255);
background-image:url(IMG/celular3.png);

}
.caixa15{
width:505px;
height:220px;
margin:10px;
padding:50px;
border-width: 6px;
border-style:ridge;
border-color :black;
background-image:url(IMG/euclico1.png);

}
.caixa16{
width:505px;
height:220px;
margin:10px;
padding:50px;
border-width: 6px;
border-style:ridge;
border-color :black;
background-image:url(IMG/euclico2.png);

}
 .mainDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
 }

  
  
  
