body{
background-image:url(colorido3.png);
}
#SobreMim{
	width:200px;
	

}
#colorido{

}

#menu ul {
font-family: 'Lobster', cursive;
    padding:10px;
    margin:0 0 0 0 ;
    background-color:pink;
    list-style:none;
}
#menu ul li{
	display: inline;
	
    margin:0 0 0 5%;


}
#menu ul li a {
    padding: 2px 10px;
    display: inline-block;

    /* visual do link */
    background-color:pink;
    color: BLACK;
    font-size:30px;
    text-decoration: none;
}
#menu ul li a:hover {
    background-color:yellow;
    color: pink;
}
